<main>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>foto personal trainer</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Personal Trainer</h2>
        <p>Entrenamiento personalizado en base a tus necesidades, tu disponibilidad horaria y a los objetivos que desees alcanzar.</p>
      
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>foto spinning</title><img src="./images/lalal.png" class="rounded-circle" alt="Italian Trulli"><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Spinning</h2>
        <p>Actividad divertida con música y encima de la bicicleta, adaptada al nivel de preparación física de cada uno.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>foto yoga</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Yoga</h2>
        <p>Una práctica que conecta el cuerpo, la respiración y la mente con posturas físicas, ejercicios de respiración y meditación para mejorar la salud general.</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</main>